.banner-area {
    background-image: url('../assets/star-bg.png');

    background-size: cover;
    background-position: 50% 50%;
    color: white;
    width: 100vw;
    height: 100vh;

    /* for the ship animation*/
    position: relative;
    overflow: hidden;
}

.banner-cover {
    min-height: inherit;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 32, 101, 0.45);
}

.banner-area .main-menu a{
    color: white;

}

.banner-area .title-section-wrapper {
    padding-inline: var(--margin-inline);

    h1 {
        font-size: 75px;
        margin-bottom: 0;
        margin-top: 18vh;
        font-weight: bold;
    }
    p {
        font-size: 30px;
        margin: 1vh;
    }
}

.button-bar {
    align-items: start;
}

/* -------------------------  SHIP ANIMATION ------------------------*/
.spaceship-icon {
    max-height: 100px;
    position: absolute;
    z-index: 100; /* Ensure it overlaps text/menu */
    /* Starting position (e.g., hidden far left) */

    /* Apply the animation */
    animation-name: flyAcrossBanner;
    animation-duration: 3s; /* How long one loop takes */
    animation-timing-function: linear;
    animation-iteration-count: infinite; /* Keeps repeating forever */
    animation-delay: 0s; /* Wait 5 seconds before the first launch */
}

/* Define the flight path */
@keyframes flyAcrossBanner {
    0% {
        transform: translate(60vw, 100vh) rotate(50deg);
        opacity: 0;
    }
    5% {
        transform: translate(60vw, 95vh) rotate(55deg);
        opacity: 1;
    }

    50% {
        transform: translate(80vw, 65vh) rotate(100deg);
        opacity: 1;
    }

    95% {
        transform: translate(100vw, 40vh) rotate(140deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(100vw, 0) rotate(160deg);
    }
}


.spaceship-icon.exploding {
    filter: brightness(5) contrast(2);
    opacity: 1;

    cursor: default;
}

.spaceship-icon.exploded {
    animation: none !important;
    opacity: 0;
}